.row {
    margin: 0;
}

img {
    width: 200px;
}

.background {
    margin: 0 auto;
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
}

.character-details {
    color: rgb(207, 207, 207);
}

@media screen and (max-width: 768px){
    img {
        width: 175px;
    }

    .background {       
        width: 175px;        
    }

    .character-details {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px){
    img {
        width: 150px;
    }

    .background {       
        width: 150px;        
    }

    .character-details {
        font-size: 14px;
    }
}