.row {
    margin: 0;
}

img {
    width: 200px;
}

.background {
    margin: 0 auto;
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
}

.character-details {
    color: rgb(207, 207, 207);
}

.banner {
    width: 50%;
    height: 200px;
    background:url('../images/rain.gif');
    position: absolute;
    left: 25%;
    top: 30%;
    color: white;
    font-size: 40px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;;    
}

@media screen and (max-width: 768px){
    img {
        width: 175px;
    }

    .background {       
        width: 175px;        
    }

    .character-details {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px){
    img {
        width: 150px;
    }

    .background {       
        width: 150px;        
    }

    .character-details {
        font-size: 14px;
    }

    .banner {
        width: 75%;
        left: 12.5%
    }
}